<div class="mt-4 p-5 bg-light border rounded-3 text-center">
    <h1>Bienvenido {{ nombreUsuario }}!!!</h1>
    <p class="lead text-muted">CUESTIONARIOS</p>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <button class="btn btn-success btn-block btn-cues"  
            routerLink="/dashboard/nuevo-cuestionario/paso-uno">NUEVO CUESTIONARIO</button>
        </div>
    </div>
</div>


