<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px;">
                <h3>Login</h3>
                <br>
                <app-loading *ngIf="loading"></app-loading>
                <form [formGroup]="login" (ngSubmit)="log()" style="padding-top: 10px;">
                    <div class="form-group" style="text-align: start;">
                        <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario">
                        <span class="text-danger ml-2"
                        *ngIf="login.get('usuario').hasError('required') && login.get('usuario').touched">
                        El usuario <strong>es requerido</strong></span>
                    </div>
                    <div class="form-group my-3" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                        <span class="text-danger ml-2"
                        *ngIf="login.get('password').hasError('required')  && login.get('password').touched">
                        La contraseña <strong>es requerida</strong></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-login"  type="submit" [disabled]="login.invalid">Aceptar</button>
                        <button class="btn btn-secondary" routerLink="/inicio">Volver</button>
                    </div>
                    <div class="form-group mt-2">
                        <a style="color: #F05f44; cursor: pointer;" routerLink="/inicio/register">Crear Cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
