<div class="text-center">
    <app-loading *ngIf="loading"></app-loading>
</div>
<div class="row">
    <div class="col-lg-6 bg-light rounded-3 mt-5">
        <h3 class="text-center my-3">Listado de Preguntas</h3>
        <hr>
        <div class="card mb-2" *ngFor="let pregunta of listPreguntas; let i = index">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>{{ pregunta.descripcion }}</h5>
                <div class="float-end">
                    <button class="btn btn-primary btn-sm" (click)="pregunta.hide =!pregunta.hide">Mostrar</button>
                    <button class="btn btn-danger btn-sm" (click)="eliminarPregunta(i)">Eliminar</button>
                </div>
            </div>
            <div class="card-body" [hidden]="pregunta.hide">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let respuesta of pregunta.listRespuestas"
                        [ngClass]="{ 'list-group-item-success': respuesta.esCorrecta == true }">
                        {{ respuesta.descripcion }}
                        <span class="material-icons float-end" *ngIf="respuesta.esCorrecta == true">
                            check_circle
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="listPreguntas.length == 0">
            <h6>No hay preguntas para mostrar</h6>
        </div>
    </div>
    <div class="col-lg-6 bg-light rounded-3 mt-5">
        <h3 class="text-center my-3">Nueva Pregunta</h3>
        <hr>
        <app-nueva-pregunta (enviarPregunta)="guardarPregunta($event)"></app-nueva-pregunta>
    </div>
</div>
<button class="btn btn-success btn-lg btnFinalizar mx-3 my-3 float-end" 
[disabled]="listPreguntas.length == 0" (click)="guardarCuestionario()">FINZALIZAR CUESTIONARIO</button>