<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">Cambiar Contraseña</h3>
        <app-loading *ngIf="loading"></app-loading>
        <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
            <div class="form-group" style="text-align: start;">
                <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="passwordAnterior">
                <span class="text-danger ml-2"
                    *ngIf="cambiarPassword.get('passwordAnterior').hasError('required') && cambiarPassword.get('passwordAnterior').touched">
                    La contraseña<strong>es requerida</strong>
                </span>
            </div>
            <div class="form-group my-3" style="text-align: start;">
                <input type="password" class="form-control" placeholder="Nueva contraseña" formControlName="nuevaPassword">
                <span class="text-danger ml-2"
                    *ngIf="cambiarPassword.get('nuevaPassword').hasError('required') && cambiarPassword.get('nuevaPassword').touched">
                    La nueva contraseña<strong>es requerida</strong>
                </span>
                <span class="text-danger ml-2"
                *ngIf="cambiarPassword.get('nuevaPassword').hasError('minlength') && cambiarPassword.get('nuevaPassword').touched">
                La contraseña debe tener como mínimo<strong>4 caracteres</strong>
            </span>
            </div>
            <div class="form-group" style="text-align: start;">
                <input type="password" class="form-control" placeholder="Repetir contraseña" formControlName="confirmPassword">
                <span class="text-danger ml-2"
                    *ngIf="cambiarPassword.hasError('notSame')">
                    Las contraseñas<strong>no son iguales</strong>
                </span>
                <div class="col text-center mt-3">
                    <button class="btn btn-primary btn-accept"  type="submit" [disabled]="cambiarPassword.invalid">Aceptar</button>
                    <button class="btn btn-secondary" routerLink="../">Volver</button>
                </div>
            </div>
        </form>
    </div>
</div>