<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Preguntas y respuestas</h5>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="p-2 text-dark" routerLink="/dashboard">Cuestionarios</a>
        <a class="p-2 text-dark" routerLink="/dashboard/cambiar-password">Cambiar contraseña</a>
      </nav>
      <a class="btn btn-outline-success" (click)="logout()">Logout</a>
    </div>
