.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h3 {
    font-family: 'Rowdies', sans-serif;
}

.btn-reg {
    background-color: #F05F44;
    border-color: #F05F44;
    margin-right: 1rem;
}