p {
    font-family: 'Rowdies', sans-serif;
    font-size: 3.5rem;
    color: #88b3bc;
}

.divider {
    border: 1px solid #f9310e;
    border-width: .1875rem;
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-xl {
    background-color: #F05F44;
    border-color: #F05F44;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 6.25rem;
}

.btn-xl:hover {
    background-color: #EE4B08;
    border-radius: #EE4B08;
    border-width: .25rem;
}