<div class="container">
    <div class="text-center">
        <p><strong>SISTEMA DE PREGUNTAS Y RESPUESTAS</strong></p>
        <div class="divider"></div>
        <button class="btn-primary btn-xl">Preguntas</button>
        <button class="btn-primary btn-xl" routerLink="/inicio/login">Ingresar</button>
    </div>
</div>

