<div class="row bg-light rounded-3">
    <div class="col-lg-6 offset-lg-3 my-3">
        <h3 class="text-center">Datos Cuestionario</h3>
    </div>
    <br>
    <form [formGroup]="datosCuestionario" (ngSubmit)="pasoUno()">
        <div class="form-group mb-5">
            <input type="text" class="form-control" placeholder="Ingrese titulo del cuestionario" formControlName="titulo">
            <span class="text-danger ml-2"
            *ngIf="datosCuestionario.get('titulo').hasError('required') && datosCuestionario.get('titulo').touched">
            El título <strong>es requerido</strong>
            </span>
        </div>
        <div class="form-group mb-5">
            <textarea class="form-control" rows="3" placeholder="Ingrese descripción del cuestionario" 
            formControlName="descripcion"></textarea>
            <span class="text-danger ml-2"
            *ngIf="datosCuestionario.get('descripcion').hasError('required') && datosCuestionario.get('descripcion').touched">
            La descripción <strong>es requerido</strong>
            </span>
        </div>
        <button class="btn btn-success float-end mb-4 mx-3" [disabled]="datosCuestionario.invalid">Siguiente</button>
    </form>
</div>